//Primary colors
$primary-white: #fff;
$primary-black: #000;
$primary-graphite: #2C313A;
$primary-blue: #0067A3;
$primary-red: #931430;
$primary-grey: #576072;

//Secondary colors
$secondary-grey: #79808E;

//Transparent colors
$transparent-white: rgba(255, 255, 255, .6)